.doctor-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.log-btn{
    margin-right: 20px;
    color:white;
    background-color:orangered;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: rgb(45, 45, 72);
    text-decoration: none;
}
.sub-btn{
    margin-left: 20px;
    color:white;
    background-color:orangered;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: rgb(45, 45, 72);
    text-decoration: none;
}
/* doctorpage.css */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  
  .city-dropdown {
    margin-top: 20px;
  }
  
  .fetch-btn {
    margin-left: 10px;
    cursor: pointer;
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
  }
  
  .donor-details {
    margin-top: 20px;
    padding: 10px;
    border: 3px solid #060505;
    border-radius: 5px;
  }
  
  .log-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Add more CSS styles as needed */
  