
    .body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: paleturquoise;
    }

    .container-patient {
      text-align: center;
      background-color: #fff;
      padding: 40px;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    }

    .container-patient img {
      width: 150px;
      height: 150px;
    }

    .form-group {
      margin: 20px 0;
    }

    .form-group input {
      padding: 10px;
      width: 200px;
    }

    .form-group button {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      cursor: pointer;
    }
